@model PasswodResetModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutUnAuth.cshtml";
}

<div class="body d-flex p-0 p-md-2 p-xl-5">
    <div class="row g-0 rounded-3 mt-2 mt-md-0 justify-content-center">
        <div class="col-lg-6 d-flex justify-content-center align-items-center auth-h100 bg-secondary py-2 py-md-0">
            <div class="d-flex flex-column p-2">
                <h1>Password Reset</h1>
                <span>Enter your email to send the reset link</span>
                <div class="tab-content mt-4 mb-3">
                    <div class="tab-pane fade active show" id="Email">
                        <div class="card">
                            <div class="card-body p-4">
                                <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                                    <div class="mb-3">
                                        <label class="form-label fs-6">Email address</label>
                                        <input asp-for="Email" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-primary text-uppercase py-2 fs-5 w-100 mt-2">Reset Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->

</div>
