html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.price-cards
{
    width:20rem !important;
}
/*Invoice Style*/
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    
}

page[size="A4"] {
    width: 21cm;
    height: auto;
}
.modal-dialog {
    max-width: max-content !important;
}
.modal-body {
    display: flex;
}
.modal-body img {
    object-fit: contain;
}
.invoice-container{
    height:calc(100% - 3rem);
}
/*End of invoice style*/