@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUnAuth.cshtml";
}

<div class="container p-5">
    <div class="row p-5 justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="text-secondary title">Welcome To TimeTracker</h2>
            <h4>Manage your projects efficiently</h4>
        </div>
        </div>
 </div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-auto">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item shadow-sm m-1 price-cards text-center">
                        <h4 class="text-center">BASIC</h4>
                        <h6>Administration</h6>
                        <p>$ 3.99 USD</p>
                        <p>
                            per user/month billed annually
                            (or $4.99 if billed monthly)
                        </p>
                        <button class="btn btn-outline-dark w-100 my-2">UPGRADE</button>
                        <h4>All FREE features</h4>
                        <hr>
                        <ul class="list-group">
                            <li class="list-group-item">✓ Add time for others</li>
                            <li class="list-group-item">✓ Add time for others</li>
                            <li class="list-group-item">✓ Add time for others</li>
                            <li class="list-group-item">✓ Add time for others</li>
                            <li class="list-group-item">✓ Add time for others</li>
                            <li class="list-group-item">✓ Add time for others</li>
                            <li class="list-group-item">✓ Add time for others</li>
                            <li class="list-group-item">✓ Add time for others</li>
                        </ul>
                </li>
                <li class="list-group-item shadow-sm m-1 price-cards text-center">
                    <h4 class="text-center">STANDARD</h4>
                    <h6>Timesheeting & Billing</h6>
                    <p>$ 3.99 USD</p>
                    <p>
                        per user/month billed annually
                        (or $4.99 if billed monthly)
                    </p>
                    <button class="btn btn-outline-dark w-100 my-2">UPGRADE</button>
                    <h4>All BASIC features</h4>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                    </ul>
                </li>
                <li class="list-group-item shadow-sm m-1 price-cards text-center">
                    <h4 class="text-center">PRO</h4>
                    <h6>Productivity & Profit</h6>
                    <p>$ 3.99 USD</p>
                    <p>
                        per user/month billed annually
                        (or $4.99 if billed monthly)
                    </p>
                    <button class="btn btn-outline-dark w-100 my-2">UPGRADE</button>
                    <h4>All STANDARD features</h4>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                    </ul>
                </li>
                <li class="list-group-item shadow-sm m-1 price-cards text-center">
                    <h4 class="text-center">ENTERPRISE</h4>
                    <h6 class="text">Control & Security</h6>
                    <p>$ 3.99 USD</p>
                    <p>
                        per user/month billed annually
                        (or $4.99 if billed monthly)
                    </p>
                    <button class="btn btn-outline-dark w-100 my-2">UPGRADE</button>
                    <h4>All PRO features</h4>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                        <li class="list-group-item">✓ Add time for others</li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
    </div>