@model Client
@{
    ViewData["Title"] = "Client";
}

<!-- Body: Body -->
<div class="body d-flex py-lg-3 py-md-2">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="h4 mb-0">Client Details</h3>
                </div>
            </div>
        </div> <!-- Row end  -->
        <div class="row g-3">
            <div class="col-md-4">
                <h3 class="h4 mb-0">Information</h3>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Created:
                        <span class="">29 May, 2020</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Created by:
                        <span class=""><a href="javascript:void(0);">Birju Cuda</a></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Priority:
                        <span class="badge bg-danger">Highest <i class="fa fa-caret-down"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Status:
                        <span class="">Working</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
